.mt-10{
    margin-top: 10px;
}

.mr-32{
    margin-right: 32px;
}

.mb-20{
    margin-bottom: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.border-bottom{
    border-bottom: 1px solid #DDDDDD;
}

.h-246{
    height: 246px;
}

.mw-432{
    max-width: 432px;
}

.d-flex{
    display: flex;
}

.fd-cm{
    flex-direction: column;
}

.w-100{
    width: 100%;
}