$tablet: 768px;
$desktop-sm: 1024px;


$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-21: 21px;
$font-size-35: 35px;


$white: #fff;
$background:#EEEEEE;
$gray:#999999;
$dark-gray: #4D4D4E;
$border-gray: #D6D5D5;
$purple:#FF3E81;
$blue:#2196F3;